@font-face {
   font-family: 'aqua';
   font-display: swap;
   src: url('file:///Users/zm/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-09-04_123437/fonts/aqua/font.ttf');
}
